<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>新加坡酷</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Wap/css/index.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Wap/css/othe.css" />

</head>
<body>
<div class="head">
	<div class="back"><a href="{:U('Wap/Index/index')}"><img src="__PUBLIC__/Wap/images/back.png" /></a></div>
	<h1>星岛百科-旅游</h1>
</div>

<div class="tour">
	<li><a href="{:U('Wap/Tour/good_food')}">地道美食</a><i>/</i><a href="{:U('Wap/Tour/hot_place')}">热门地点</a></li>
	<li><a href="{:U('Wap/Tour/shopping_place')}">购物天堂</a><i>/</i><a href="{:U('Wap/Tour/in_history')}">走入历史</a></li>
</div>

<div class="main">
	<div class="recommend"><i></i>热门推荐</div>

	<div class="tourism">
		<foreach name="list" item="vo">

		<li>
			<a href="{$vo.url}"><img style="height: 185px;height: 146.91px" src="{$vo.thumb}" />
			<h4>{$vo.title}</h4></a>
		</li>

		</foreach>
	</div>
</div>
<div class="footer">
	<p>Copyright© 2012-2016 新加坡酷 版权所有.</p>
</div>


</body>
</html>