
/*关于我们 */

.logo_b{
	width: 50%;
	margin: 20px auto;
}
.logo_b img{
	width: 100%;
}
.page{
	background: url(../images/logo_bg.png) 110px 220px  no-repeat;
	background-size: 70%;
}
.page p{
	font-size: 18px;
	line-height: 30px;
	width: 80%;
	margin: 0px auto 20px;
}
.page img{
	width: 80%;
	margin: 0px 10%;
	text-align: center;
}
/* 联系我们 */
.contact{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	padding: 10px;
	box-sizing:border-box;
}
.contact h1{
	width: 60%;
	line-height: 30px;
	font-size: 32px;
	margin: 0px 20% 20px;
	color: #46b6c4;
}

.contact form input{
	background: none;
	padding: 3px 10px; 
	border:1px solid #b78a43;
	height: 44px;
	border-radius: 10px;
	font-size: 14px;
	color: #111;
	font-weight: 700;
	float: left;
	box-sizing:border-box;
}
.contact form input:focus{
	outline: none;
}
.contact form textarea:focus{
	outline: none;
}
.xing{
	width: 100%;	
}
.xuqu{
	font-size: 14px;
	float: left;
	font-weight: 700;
	color: #111;
	width: 100%;
	height: 100px;
	max-height: 150px;
	border:1px solid #b78a43;
	border-radius: 10px;
	padding: 10px;
	margin: 0px 0px 20px;
	box-sizing:border-box; 
}
.ming{
	margin: 0px 0px 0px 6%;
}
.phone{
	width: 100%;
	margin: 20px 0px;
}
.code{
	width: 58%;
	margin: 0px 2% 0px 0px;
}
.verify_img{
	width: 40%;
	height: 44px;
	float: left;
	border-radius: 10px;
}
.submit{
	width: 46%;
	margin: 50px 27% 0px;
	border:none!important;
	color: #fff !important;
	background: #46b6c4 !important;
}
.bgd{
	height: 100%;
	position: absolute;
	background:url(../images/contact_bg.jpg) no-repeat bottom;
	background-size: 100%; 
}

/* 最新新闻 */
.news{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	box-sizing:border-box;
}
.news li{
	width: 100%;
	height: auto;
	float: left;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 20px 0px;
	border-bottom: 1px solid #ccc;
}
.news li:last-child{
	border-bottom: none;
}
.news li a{
	color: #333;
}
.news li img{
	width: 30%;
	float: right;
}
.news li h1{
	width: 60%; text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; course:hand;
	font-size: 18px;
	line-height: 30px;
	color: #46b6c4;
	font-weight: 300;
	float: left;
}

.news li h2{
	width: 60%;
	margin: 10px 0px 0px;
	text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; course:hand;
	font-size: 18px;
	line-height: 30px;
	color: #46b6c4;
	font-weight: 300;
	float: left;
}
.news li h4{
	width: 60%;
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
	margin: 10px 0px 0px;
	float: left;
	text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; course:hand;
}

/* 最新新闻 ——详情 */
.news_show{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
}
.news_show img{
	width: 100%;
}
.news_show p{
	font-size: 18px;
	line-height: 35px;
	margin: 0px 0px 20px 0px;
}
.news_show_foot{
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: #fff;
}
.news_show h1{
	font-size: 20px;
	color: #46b6c4;
	text-align: center;
	margin: 20px 0px;
}
.news_show_foot .next{
	width: 48%;
	float: left;
	background: #46b6c4;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-weight: 300;
}
.news_show_foot .prev{
	width: 48%;
	float: right;
	background: #46b6c4;
	height: 50px;
	font-weight: 300;
	color: #fff;
	line-height: 50px;
	text-align: right;
}
.news_show_foot .next img{
	width: 15px;
	margin: 12px 15px 0px 40px;
	float: left;
}
.news_show_foot .prev img{
	float: right;
	width: 15px;
	margin: 12px 40px 0px 15px;
}

/* 医疗 */
.care{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
}

.care li{
	width: 100%;
	height: auto;
	float: left;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 20px 0px;
	border-bottom: 1px solid #ccc;
}
.care li:last-child{
	border-bottom: none;
}
.care li a{
	color: #333;
}
.care li img{
	width: 30%;
	float: right;
}
.care li h1{
	width: 60%;
	margin: 10px 0px 0px;
	 text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; course:hand;
	font-size: 18px;
	line-height: 30px;
	color: #46b6c4;
	font-weight: 300;
	float: left;
}
.care li h4{
	width: 60%;
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
	margin: 10px 0px 0px;
	float: left;
	 text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; course:hand;
}

/* 医疗 */
.care_show{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
}
.care_show img{
	width: 100%;
}
.care_show p{
	font-size: 18px;
	line-height: 35px;
	margin: 0px 0px 20px 0px;
}
.care_show h1{
	font-size: 20px;
	color: #46b6c4;
	text-align: center;
	margin: 20px 0px;
}

.care_1 img{
	width: 60%;
	margin: 20px 20% 70px;
}


/* 旅游 */
.tour{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	margin: 20px 0px 10px;
	border-top: 1px solid #ccc;
}
.tour li{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #fff;
	padding: 0px 20px;
	box-sizing:border-box;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.tour li a{
	width: 40%;
	float: left;
	font-size: 18px;
}
.tour li i{
	width: 20%;
	float: left;
}
.tourism{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	margin: 10px 0px;
}
.tourism li{
	width: 50%;
	padding: 0px 5px 10px 0px;
	box-sizing:border-box;
	
	float: left;

}
.tourism li:nth-child(2n+2){
	padding: 0px 0px 10px 5px;
}
.tourism img{
	width: 100%;
}
.tourism li a{
	width: 100%;
	display: block;
	float: left;
	position: relative;
}
.tourism h4{
	position: absolute;
	bottom: 4px;
	left: 0px;
	background: rgba(33,11,11,0.4);
	height: 30px;
	width: 100%;
	padding: 0px 5px 0px 0px;
	box-sizing:border-box;
	color: #fff;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
	font-size: 16px;
}
/* 投资 */
.invest{
	width: 100%;
	box-sizing:border-box;
	float: left;
}
.invest img{
	width: 100% !important;
}
.invest h4{
	color: #d16701;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
}
.invest p{
	font-size: 18px;
	line-height: 30px;
	color: #444;
}

.inest li{
	width: 25%;
	float: left;
	padding: 0px 3px;
	box-sizing:border-box;
}
.landed{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	margin: 10px 0px 0px;
	float: left;
	box-sizing:border-box;
}
.landed li{
	float: left;
	margin: 0px 0px 10px 0px;
}
.landed li img{
	width: 100%;
}
.landed li a{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}
.landed h1{
	background: rgba(11,11,11,0.6);
	line-height: 40px
	height:40px;
	position: absolute;
	bottom: 4px;
	right: 0px;
	padding: 10px 30px;
	margin: 0px;
	font-size: 20px;
	color: #fff;
	font-weight: 300;
	border-radius: 10px 0px 0px 10px;
}

/* 房地产 - 显示 */
.invest_show{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	margin: 20px 0px;
	border-top: 1px solid #ccc;
}
.invest_show li{
	width: 100%;
	height: 50px;
	background: #fff;
	border-bottom: 1px solid #ccc;
	padding: 0px 10px;
	box-sizing:border-box;
	line-height: 50px;
	font-size: 16px;
	color: #666;
}

.invest_show b{
	font-weight: 300;
	height: 30px;
	width: 25%;
	float: left;
	margin: 0px 10px 0px 0px;
	color: #333;
	font-size: 18px;
}
.invest_show span{
	width: 70%;
	float:right;
	text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; course:hand;
}
.layout{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	margin: 0px 0px 10px 0px;
}
.outline{
	width: 100%; 
	height: 50px;
	float: left;
	background: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.outline h1{
	width: 100%;
	line-height: 50px;
	padding: 0px 0px 0px 10px;
	border-left: 5px solid #f63f4c;
	font-size: 24px;
	font-weight: 400;
}
.line_lay{
	width: 100%;
	height: 200px !important;
	display: block;
	overflow: hidden;
	padding: 10px 0px;
	float: left;
	background: #fff;
	position: relative;
} 
.line_lay li{
	width:150px;
	height: auto;
	float: left;
	border:1px solid #ccc;
	padding: 5px ;
	box-sizing:border-box;
	margin: 0px 0px 0px 10px;
}
.line_lay li img{
	width: 140px;
	height: 180px;
	margin: 0px 5px;
}
.line_lay_out{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	float: left;
}
.line_lay_out li{
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #fff;
	padding: 0px 10px;
	box-sizing:border-box;
	color: #666;
}
.line_lay_out li b{
	font-weight: 300;
	width: 100px;
	float: left;
	color: #999;
	font-size: 18px;
}
.line_lay_out li p{
	font-size: 14px;
}
.line_lay_phery .map{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	width: 100%;
	height: 340px;
	display: block;
	overflow: hidden;
	float: left;
}
.ui-slider-wheel{
	position: absolute;
	z-index: 2;
}
.lay_phery{
	margin: 10px 0px;
	float: left;
}
.lay_phery li {
	width: 100%;
	padding: 10px;
	box-sizing:border-box;
}
.lay_phery li b{
	font-weight: 300;
	width: 25%;
	float: left;
	color: #999;
	margin:5px 0px 0px;
	font-size: 18px;
}
.lay_phery li p{
	width: 75%;
	float: left;
	font-size: 16px;
	line-height: 30px;
	color: #333;
}

/* 图片 视频*/
.pic_vod{
	width: 100%;
	height: 50px;
}
.pic_vod a{
	width: 49%; 
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	color: #fff;
	position: relative;
	background: #ec9b44;
	border-radius: 4px;
}
.hover{
	background: #ff6400 !important;
}
.pic_vod i{
	width: 2%;
	float:left;
	height: 50px;
}
.pic_vod li{
	width: 100%;
	height: 50px;
	float: left;
}
.pic_video{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	float: left;
	margin: 10px 0px;
}
.pic_video li{
	width: 100%;
	height: auto;
	margin: 20px 0px 20px 0px;
	float: left;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #ccc;
}
.
.pic_video li h4{
	width: 100%;
	line-height: 30px;
	font-size: 24px;
	color: #333;
	font-weight: 300;
}
.pic_video li h1{
	font-weight: 300;
	font-size: 28px;
	color: #38b0c1;
	margin: 0px 0px 20px 0px;
}
.pic_video li h4{
	width: 100%;
	line-height: 30px;
	font-size: 24px;
	color: #333;
	font-weight: 300;
}
.pic_video li a{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}
.pic_video li a .play{
	width: 20%;
	position: absolute;
	top: 35%;
	left: 35%;
}

/* 图片*/
.vid_pic{
	margin: 30px 0px 0px;
	width: 100%;
	float: left;
	border-bottom: 1px solid #ccc;
	padding: 0px 0px 5px 0px;
}
.vid_pic h4{
	width: 100%;
	line-height: 30px;
	font-size: 24px;
	color: #333;
	font-weight: 300;
}
.vid_pic h1{
	font-weight: 300;
	font-size: 28px;
	color: #38b0c1;
	margin: 0px 0px 20px 0px;
}
.list_img{
	width: 100%;
}

.list_img li{
	width: 32%;
	height: 100px;
	float: left;
	margin: 0px 1.3% 10px 0px;
}
.list_img li:nth-child(3n+3){
	margin: 0px 0px 10px 0px;
}
.list_img li:nth-child(n+7){
	display: none;
}
.list_img li img{
	width: 100%;
	height: 100%;
}
.layui-layer-phimg img{
	width: 100%;
}
/* 户型展示 */
.nest_img{
	width: 100%;
	height: auto;
	float: left;
}
.nest_img img{
	width: 100%;
}
.nest_show_img{
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
}
.nest_show_img li{
	width: 100%;
	height: 50px;
	line-height: 50px;
	float: left;
	padding: 0px 10px;
	box-sizing:border-box;
	background: #fff;
}
.nest_show_img li b{
	font-weight: 300;
	font-size: 18px;
	color: #666;
	width: 100px;
	float: left;	
}
.nest_img h1{
	width: 100%;
	font-size: 24px;
	color: #39aec0;
	font-weight: 300;
	margin: 5px 0px;
	padding: 10px 10px;
	background: #fff;
	line-height:30px;
	box-sizing:border-box;
}
.nest_img h4{
	width: 100%;
	font-size: 24px;
	color: #ff0000;
	font-weight: 300;
	margin: 5px 0px;
	padding: 10px 10px;
	background: #fff;
	box-sizing:border-box; 
}
.nest_img h4 b{
	font-weight: 300;
	padding: 1px 10px;
	border-radius: 5px;
	border:1px solid #ff0000;
	margin: 0px 0px 0px 20px;
	font-size: 12px;
	height: 20px;
}
/*#demo2{ float:left;
}
#demo1{ float:left;
}
#demo{ width:400px; overflow:hidden; box-sizing:border-box; 
}
#indemo{ width:400%; float:left;
}*/


.ui-slider-item img {
	width: 140px;
	height: 180px !important;
	box-sizing:border-box;
	padding: 5px;
	border:1px solid #ccc;
}